<h2 class="page-header text-center">{{title}} ({{contacts?.length?.toLocaleString()}})</h2>
<!-- <p class="text-center">
    <a (click)="addContact()" class="btn btn-lg btn-outline" >Add Contact</a>
</p> -->
<div class="media-list contacts-container">
    <ng-container *ngFor="let contact of contacts;let i = index">
        <contact [contact]="contact" 
            [index]="i" 
            class="my-repeat-animation contact media"
            (delete)="delete($event)"></contact>
    </ng-container>
</div>
